* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald;
}

body {
  width: 80%;
  margin: auto;
  background: lightgray;
}

nav {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  align-items: center;

  select {
    width: 15%;
    padding: 10px;
  }
}

main {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .card,
  .review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    padding: 15px;
    width: 22%;
    background: white;
    box-shadow: 3px 2px 0px 2px rgba(15, 165, 175, 0.75);

    a {
      display: block;
      text-decoration: none;
      background: #0fa5af;
      color: #fff;
      width: 100%;
      padding: 10px;
    }

    h1 {
      color: #0fa5af;
      font-weight: 300;
      margin-bottom: 40px;
    }

    .category {
      font-weight: bold;
    }

    .description {
      margin: 10px 0;
    }

    .reviewTitle {
      margin-bottom: 15px;
    }

    button {
      border-radius: 8px;
      border: 2px solid #0fa5af;
      width: 100%;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        scale: 1.08;
      }
    }
  }

  .review-card {
    min-height: 300px;
    margin-bottom: 30px;
  }
}

a {
  text-decoration: none;
  background: #0fa5af;
  color: white;
  padding: 10px;
  transition: 0.3s;

  &:hover {
    scale: 1.08;
  }
}

@media (max-width: 1024px) {
  main {
    width: 100%;

    .card,
    .review-card {
      width: 48%;
    }
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;

    .card,
    .review-card {
      align-items: start;
      width: 45%;
    }
  }
}

@media (max-width: 426px) {
  nav {
    display: flex;
    flex-direction: column;

    select {
      width: 100%;
    }
  }

  main {
    width: 100%;

    .card,
    .review-card {
      width: 100%;
    }
  }
}
